@{
   Bundles.Reference("Content/Site.css");
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cassette .map Test</title>
    @Bundles.RenderStylesheets()
</head>
<body>
    @RenderBody()
    @Bundles.RenderScripts()
</body>
</html>
