@{
    Bundles.Reference("~/scripts");
}
<h1>Cassette rewrite .map file test</h1>
<button type="button" onclick="testRoot.test()">root test()</button>
<button type="button" onclick="testLevel1.test()">level 1 test()</button>
<button type="button" onclick="testLevel2.test()">level 2 test()</button>